<div class="row">
    <h1 class="page-header ltdfHeading">Tour de France 2014</h1>     
    <div class="col-xs-3">
        <div class="form-group">
            <label for="stages">Stages</label>
            <div class="list-group" id="stages" name="stages">
                <a href="" class="list-group-item" ng-click="loadImageOnClick(stage.StageNumber)"
                   ng-class="{active: stage.StageNumber === model.selectedStage.StageNumber}"
                   ng-repeat="stage in model.stages | limitTo:4">
                    <h4 class="list-group-item-heading active">Stage: {{$index+1}}</h4>
                    <h5>{{stage.Course}}</h5>
                    <small>Distance: {{stage.Distance}}</small>
                    <small> Type: {{stage.Types}}</small>
                </a>
            </div>
            <ul class="pagination pagination-sm">
                <li><a href="#">&laquo;</a></li>
                <li ng-repeat="stage in model.stages | limitTo: 5">
                    <a href="#">{{$index+1}}</a>
                </li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5"><label for="map">Map</label>
        <img ng-src="{{ model.imagePath }}" class="img-responsive" id="map"/>
    </div>
    <div class="col-xs-4">
        <label for="top5">Top 5 Racers</label>
        <ul class="list-group" id="top5" name="top5">
            <li class="list-group-item" ng-repeat="rider in model.selectedStage.TopRiders | limitTo:5"
                ng-class="{active: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <h4> {{$index + 1}}. {{rider.Name}}</h4>
                <small>Team: {{rider.Team}}</small>
                <small> Time: {{rider.Time}}</small>
            </li>
        </ul>
    </div>
</div>